<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="theme-color" content="#c5a057">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Asset Suggestions</title>
  <link rel="icon" href="/images/favicon.jpg" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- BACKGROUND BLUR -->
    <span class="bg__blur"></span>
    <span class="footer__blur"></span>



  <div class="contain">
        <img src="/images/logo.png" alt="logo">


  <h1>3D Asset Suggestions for: "<%= prompt %>"</h1>

  <% suggestions.forEach(item => { %>
    <div class="card">
      <strong><%= item.name %></strong><br>
      <a class="btn" href="<%= item.url %>" target="_blank">Open Link</a>
    </div>
  <% }); %>

  <a class="back-link" href="/bonus"><i class="ri-arrow-left-line"></i> Go Back</a>

</div>
</body>
</html>

